<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Periodicity</th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= number_to_currency(item.amount, locale: :jp) %></td>
        <td><%= link_to item.periodicity.name, periodicity_path(item.periodicity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

