<p id="notice"><%= notice %></p>

<h1>Items</h1>

<p><%= link_to 'New Item', new_item_path, class: "btn btn-light" %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= number_to_currency(item.amount, locale: :jp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

