<p id="notice"><%= notice %></p>

<h1>Periodicities</h1>

<p><%= link_to 'New Periodicity', new_periodicity_path, class: "btn btn-primary" %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @periodicities.each do |periodicity| %>
      <tr>
        <td><%= link_to periodicity.name, periodicity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

