<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @periodicity.name %>
</p>

<%= link_to 'Edit', edit_periodicity_path(@periodicity), class: 'btn btn-secondary' %>
<%= link_to 'List', periodicities_path, class: 'btn btn-secondary' %>
